asgiref==3.8.1
boto3==1.36.16
botocore==1.36.16
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.8
django-allauth==65.4.1
django-filter==24.3
django-phonenumber-field==8.0.0
django-qrcode==0.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
idna==3.10
jmespath==1.0.1
phonenumbers==8.13.54
psycopg2==2.9.10
PyJWT==2.10.1
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.11.2
six==1.17.0
sqlparse==0.5.3
urllib3==2.3.0
